* {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}
body{
  background-color: #F5F5F5;
}
.container1{
  width: 80%;
  height: auto;
  margin: auto;
  padding-top: 55px;
  display: block;
  overflow: hidden;
}
.container1 .left-side{
  width: 50%;
  float: left;
  margin-top: 125px;
}
.container1 .right-side{
  width: 50%;
  float: left;
  position:relative
}
.left-side .stay-focused{
  border-left: 5px solid #FFD700;
}
.stay-focused .stay-focused-child{
  margin-left: 5px;
  font-size: 1.3rem;
}
.stay-focused .mission2022{
  color: #FF7F50;
  margin-top: 3px;
  margin-left: 5px;
  font-size: 1.3rem;
}
.left-side .text p{
  width: 70%;
  margin-top: 30px;
  color: rgba(0, 0, 0, 0.781);
  font-size: 1.1rem;
}
.explore button{
  padding: 8px 21px;
  background-color: #FF6347;
  margin-top: 10px;
  border-radius: 7px;
}
.explore button a{
  color: #F5F5F5;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
}
.left-side .scroll{
  color: dimgray;
  margin-top: 100px;
}
.right-side .right-image{
  width: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  margin-left: 125px;
}

/*
container2
*/
.container2{
  width: 75%;
  height: auto;
  margin: auto;
  display: block;
  overflow: hidden;
}
.container-child1 .my-mission{
  width: 100%;
  text-align: center;
  margin-top: 40px;
  font-size: 1.1rem;
}
.my-mission .twok{
  color: #FF7F50;
}
.container-child2{
  margin-top: 17px;
}
.container-child2 .mission{
  width: 32%;
  height: 600px;
  float: left;
  background: #E0FFFF;
  margin-left: 1.33%;
  border-radius: 8px;
}
.mission .illustrator img{
  width: auto;
  height: 350px;
  margin: auto;
  display: block;
  overflow: hidden;
}
.mission .heading h2{
  margin-left: 10px;
  margin-top: 10px;
  font-size: 1.7rem;
}
.mission .text p{
  margin-left: 10px;
  margin-top: 15px;
  color:rgba(0, 0, 0, 0.781);
}
.container-child2 .vission{
  width: 32%;
  height: 600px;
  float: left;
  background: #90EE90;
  margin-left: 1.33%;
  border-radius: 8px;
}
.vission .illustrator img{
  width: auto;
  height: 350px;
  margin: auto;
  display: block;
  overflow: hidden;
}
.vission .heading h2{
  margin-left: 10px;
  margin-top: 10px;
  font-size: 1.7rem;
}
.vission .text p{
  margin-left: 10px;
  margin-top: 15px;
  color:rgba(0, 0, 0, 0.781);
}
.container-child2 .goals{
  width: 32%;
  height: 600px;
  float: left;
  background: #6495ED;
  margin-left: 1.33%;
  border-radius: 8px;
}
.goals .illustrator img{
  width: auto;
  height: 350px;
  margin: auto;
  display: block;
  overflow: hidden;
}
.goals .heading h2{
  margin-left: 10px;
  margin-top: 10px;
  font-size: 1.7rem;
}
.goals .text p{
  margin-left: 10px;
  margin-top: 15px;
  color:rgba(0, 0, 0, 0.781);
}

/*
container3
*/

.container3{
  width: 80%;
  height: auto;
  margin:auto;
  display: block;
  overflow: hidden;
  margin-top: 45px;
}
.container3 .container-child1{
  width: 30%;
  float: left;
  overflow: hidden;
}
.container3 .container-child1 img{
  width: 100%;
  height: 100%;

}
.container3 .container-child2{
  width: 55%;
  float: left;
  overflow: hidden;
  margin-left: 5%;
}
.container-child2 .developer{
  font-size: 1.6rem;
  margin-top: 45px;
}
.container-child2 .without-limits{
  font-size: 1.6rem;
  margin-top: 20px;
}
.container-child2 .text{
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.781);
}
.container-child2 .read-documents button{
  padding: 8px 21px;
  background-color: #FF6347;
  margin-top: 15px;
  border-radius: 7px;
}
.container-child2 .read-documents button a{
  color: #F5F5F5;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
}

/*
container 4
*/


.container4{
  width: 80%;
  height: auto;
  margin: auto;
  display: block;
  overflow: hidden;
  margin-top: 45px;
  position: relative;
}
.container4 .container4-child1{
  width: 55%;
  float: left;
  overflow: hidden;
  margin-left: 5%;
}
.container4 .container4-child1 .know-our {
  font-size: 1.6rem;
  margin-top: 45px;
}
.container4 .container4-child1 .global {
  font-size: 1.6rem;
  margin-top: 20px;
}
.container4 .container4-child1 .text {
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.781);
}
.container4 .container4-child1 button{
  padding: 8px 21px;
  background-color: #FF6347;
  margin-top: 15px;
  border-radius: 7px;
}
.container4 .container4-child1 button a{
  color: #F5F5F5;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
}
.container4 .container4-child2{
  width: 30%;
  float: left;
  overflow: hidden;
  margin-left: 10%;
}
.container4-child2 img{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/*
container5
*/

.container5{
  width: 80%;
  height: auto;
  margin: auto;
  display: block;
  overflow: hidden;
  margin-top: 45px;
  position: relative;
}
.container5 .checkout h1{
  text-align: center;
}
.container5 .projects{
  width: 100%;
  margin-top: 30px;
}
.container5 .project1{
  width: 48%;
  float: left;
  padding-right: 2%;
}
.container5 .project1 img{
  width: 100%;
  height: 100%;
}
.container5 .project2{
  width: 48%;
  float: left;
  padding-left: 2%;
}
.container5 .project2 img{
  width: 100%;
  height: 100%;
}

/*
container6
*/

.container6{
  width: 100%;
  background: black;
  height: 140px;
  overflow: hidden;
  margin-top: 35px;
}
.container6 .all-text{
  width: 100%;
  margin-top: 30px;
}
.container6 .mission-text h1{
  color: white;
  text-align: center;
  margin-top: 35px;
}
.container6 span{
  color: #FF7F50;
}
.container6 .hard-work p{
  color: dimgray;
  text-align: center;
}

